@font-face {
    font-family: "Comic Sans";
    src: url("./comic.ttf") format("truetype");
}

body {
    margin: 2vh;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.board-seed {
    background-color: aquamarine;
}
.title {
    margin-top: 5vh;
}
.col {
    margin: 0px;
    width: 10vw;
    height: 10vh;
    line-height: 10vh;
    font-size: 2rem;
}

.info-text {
    margin-top: 1vh;
}

