body {
    margin: 2vh;
}

.board-seed {
    background-color: aquamarine;
}
.container {
    margin-top: 5vh;
}
.col {
    height: 10vh;
    line-height: 10vh;
    font-size: 2rem;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

