.large-number {
    font-size: 300px;
    line-height: 1;
    text-align: center;
}

.number-and-btn {
    width: 500px;
}

.list-number {
    font-size: 100px;
    line-height: 1;
    max-height: max-content;
    min-height: 200px;
    width: 95%;
    height: 100%;
    margin: 10px;
}

#control-button {
    margin: 0 auto;
    font-size: 100px;
    line-height: 1;
    text-align: center;
}

.flex {
    display: flex;
}

.main-flame {
    height: 100%;
}