.large-number {
    font-size: 300px;
    line-height: 1;
    text-align: center;
}

.number-and-btn {
    width: 70vw;
}

.list-number {
    font-size: 60px;
    line-height: 1;
    max-height: max-content;
    min-height: 200px;
    width: 25vw;
    height: 95vh;
    margin: 10px;
}

#control-button {
    margin: 0 auto;
    font-size: 100px;
    line-height: 1;
    text-align: center;
}

.flex {
    display: flex;
}

.main-flame {
    height: 100vh;
    align-items: center;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}

.line-height{
    line-height: normal;
}